.header {
  text-align: center;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 84px;
  color: #fff;
  transition: 1s;
}

.header:hover {
  font-size: 90px;
}

.text {
  color: #fff;
  transition: 1s;
}

.top-regist {
  text-align: right;
  font-family: "Heebo", sans-serif;
  font-size: 20px;
}

.top-regist-a {
  font-family: "Heebo", sans-serif;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-right: 20px;
  transition: 0.75s;
}

.top-regist-a:hover {
  color: #8b4caf;
}

.box {
  text-align: center;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 30px;
}
