.header {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 85px;
    background: linear-gradient(45deg, #4f059e, #1356ad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated-gradient 5s infinite alternate-reverse;
    background-size: 200%;
    background-position: -200%;
}

@keyframes animated-gradient{
  to{
    background-position: 200%;
  }
}


.top-regist {
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.top-regist-a{
    text-decoration: none;
    color:  black;
    margin-right: 20px;
    transition: 1s;
}

.top-regist-a:hover{
    color:  #630599;
}

.box{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
