body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-color: White;
}
a {
  color: black;
}
* {
  box-sizing: border-box;
}

.account {
  margin-top: 45px;
  text-align: center;
}

.header {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 65px;
  color: rgb(66, 60, 60);
}

.form {
  margin: auto;
  max-width: 355px;
  padding: 25px;
  background-color: rgba(11, 175, 121, 0.384);
  margin-bottom: 25px;
  border-radius: 15px;
}

.input {
  display: block;
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: 16px;
  border-radius: 10px;
}

.btn {
  font-family: "Poppins", sans-serif;

  display: block;
  width: 100%;
  padding: 8px 8px;

  border: 0;
  background-color: #1c6596;
  cursor: pointer;

  font-size: 16px;
  color: #fff;
  transition: 1s;
  border-radius: 10px;
  margin-top: 25px;
}

.btn:hover {
  background-color: #1677b8;
}

.return {
  min-width: 100px;
  font-family: "Poppins", sans-serif;
  appearance: none;
  border: 0;
  border-radius: 10px;
  background-color: #1c6596;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  transition: 1s;
  margin-left: 25px;
  margin-top: 10px;
}

.return:hover {
  background-color: #1677b8;
}
